<!doctype html>
<html lang="en" class="h-100">
  <head>
     <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel = 'stylesheet' href = 'style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
  </head>
  <body class="d-flex flex-column h-100">
        <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">Контактная информация</h1>
        <p class="lead">Разработчик: Шепелевич Сергей </p>
        <p class="lead">Е-маил: neizvestnaia@pochta.com </p>
        <!-- <p>Use <a href="/docs/4.5/examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p> -->
      </div>

    </main>
    <div class="dop-block2" >
        <div class="block2" >
            </form>
                <!-- <h4>Cпасибо за ваше внимание!</h4> -->
                <a href = 'search.html'class="badge badge-primary">На страницу парсера</a>
                <a href='main.html' class="badge badge-primary">На главную</a>
        </div>
    </div>


</body>
</html>
