<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Search</title>
    <link rel = 'stylesheet' href = 'style.css'>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
    <div class="dop-block1" >
    <p><a href = 'main.html' class="badge badge-primary">На главную</a></p>
        <ul>
            <li>
                Средняя зарплата по Москва программиста Python: {{mid_salary}}
            </li>
            <li>
                Максимальная сумма по ЗП: {{max_salary}}
            </li>
            <li>
                Минимальная сумма по ЗП: {{min_salary}}
            </li>
            <li>
                Часто встречающиеся навыки: {{common_skills}}
            </li>
        </ul>
    </div>
</body>
</html>